<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Pilot</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Hello!</h2>
<h3>List Penerbangan</h3>

<table>
    <tr>
        <th>Flight Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Time</th>
        <th>Nama Pilot</th>
        <th>License Number</th>
    </tr>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.origin}"></td>
        <td th:text="${flight.destination}"></td>
        <td th:text="${flight.time}"></td>
        <td th:text="${flight.pilot.name}"></td>
        <td th:text="${flight.pilot.licenseNumber}"></td>
    </tr>
</table>


</body>
</html>